@import './scss/navigation.scss';
@import './scss/results.scss';
@import './scss/modal.scss';
@import './scss/criterias.scss';
@import './scss/moreCriterias.scss';

* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  border: none;
  &:focus {
    outline: none;
  }
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  .fas {
    font-size: 3rem;
        padding: 0.5rem;
        color: #f57a51;
  }
}
.display {
  display: flex !important;
}
.page {
  padding: 10rem 10rem 5rem;
  background-color: #f6eedf;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
}
.dark {
  background-color: #a7a6a2 !important;
}
.naviItem {
  color: #f6eedf;
  font-family: Montserrat-Bold;
  &:hover {
    color: #f6eedf;
  }
}
.red {
  color: red;
}
h2 {
    color: #f57b51;
    font-family: Montserrat-SemiBold;
    margin: 4rem 0 1rem;
    text-transform: uppercase;
    width: max-content;
}
h3 {
  color: #d63447;
    line-height: 1.3;
    font-family: Montserrat-Regular;
    padding: 1rem 0;
}
.toggle {
  position: relative;
  width: 4rem;
  height: 2rem;
  -webkit-appearance: none;
  border-radius: 50px;
  border: 2px solid #d1cebd;
  &:before {
    top: 0%;
    left: 0;
    position: absolute;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.5px solid #d1cebd;
  }
  &:checked {
    position: relative;
    border: 2px solid #d1cebd;
    &:before {
      transform: translateX(130%);
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: #f6eedf;
      border-radius: 50%;
    }
  }
}
.darkModal {
  background-color: #807e7b;
}
li {
  cursor: pointer;
  list-style: none;
}
.check {
  align-self: center;
  padding: 1.5rem;
}
label {
  font-family: Montserrat-SemiBold;
    vertical-align: top;
    color: #d1cebd;
    padding: 0 0.5rem;
}

.active {
  // background-color: #f57b51;
  // color: #f6eedf;
  // font-family: Montserrat-Bold;
  color: #f6eedf;
  padding: 0.2rem;
  font-family: Montserrat-Bold;
  border-top: 0.5rem solid#f57a51;
}

@media only screen and (min-width: 300px) and (max-width: 459px) {
  html {
    font-size: 8px;
  }
  .menu-navigation {
    .sandwitch-menu {
      display: block;
    }
    .navigation {
      display: none;
      padding-left: 3rem;
      flex-flow: column;
      .check {
        align-self: start;
      }
    }
  } 
  .search {
    h3 {
      font-size: 1.7rem;
    }
    form {
      .inputBg {
        width: 75%;
      }
      .searchLinkBtn {
        width: 50%;
      }
      .advanced {
        width: 75%;
        .moreCriterias {
          .CriteriasNutriments {
            .inputBg {
              width: 100%;
            }
            .flex {
              .toggle-span {
                font-size: 9px;
                padding: 2px;
              }
            }
          }
          label {
            font-size: 11px;
          }
        }
      }
    }
  }
  .container {
    .modalcont {
      padding: 2rem;
      .modal1 {
        .nScoreNova {
          .nova {
            margin: 1rem auto;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 599px) {
  .page {
    padding: 10rem 0 5rem;
  }
  button{ 
    line-height: 1.3;
    padding: 0 1rem; 
  }
  .toggle:checked:before, .toggle:before  {
    width: 1.4rem;
    height: 1.4rem;
  }
  .search {
    form {
      .searchLinkBtn {
        a { 
          line-height: 1.3;
          padding: 0 1rem; 
          width: min-content;        
        }
      }
    }
    .advanced {
      .moreCriterias {
        .CriteriasNutriments {
          .inputBg {
            select {
              font-size: 1.1rem;
            }
            input[type=search] {
              &::placeholder {
                font-size: 1.3rem;
              }
            }
          }
          .flex {
            width: 100%;
            justify-content: start;
          }
        }
      }
    }
  }
  .container {
    padding: 10rem 7rem 5rem;
    h1:first-child {
      text-align: center;
    }
    .modalcont {
      .modal1 {
        .modalInfo {
          flex-flow: column wrap;
        }
        .nScoreNova {
          .nova {
            flex: 0;
            
            h2 {
              width: min-content;
              margin: 0rem 0 1rem;
            }
          }
          .nutrifacts {
            width: fit-content;
            padding: 0;
            h2 {
              margin: auto;
              padding-right: 4.2rem;
            }
            .nutrition {
              flex: 0;
              width: min-content;
              margin: auto;
            }
          }
        }
      }
    }
    .paging {
      li {
        padding: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 460px) and (max-width: 599px) {
  html {
    font-size: 9px;
  }
  .search{
    form {
      .inputBg {
        width: 60%;
      }
      .searchLinkBtn {
        width: 60%;
      }
    }
    .advanced {
      width: 60%;
      .moreCriterias {
        .CriteriasNutriments {
          .inputBg {
            width: 95%;
          }
          .flex {
            .toggle-span {
              font-size: 10px;
              padding: 1px;
            }
          }
        }
        label {
          font-size: 13px;
        }
      }
    }
  }
  .container {
    .modalcont {
      padding: 5rem;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  html {
    font-size: 9px;
  }
  .page {
    padding: 10rem 0 5rem;
  }
  .search {
    form {
      .inputBg {
        width: 55%;
      }
      .advanced {
        width: 60%;
        .moreCriterias {
          .CriteriasNutriments {
            .inputBg {
              width: 80%;
              select {
                font-size: 1.1rem;
              }
              input[type=search] {
                &::placeholder {
                  font-size: 1.3rem;
                }
              }
            }
            .flex {
              width: 80%;
              .toggle-span {
                font-size: 11px;
                padding: 0px;
              }
            }
          }
          label {
            font-size: 11px;
          }
        }
      }
    }
    }
    .container {
      padding: 10rem 7rem 5rem;
      .modalcont {
        padding: 5rem;
        .modal1 {
          .modalInfo {
          }
          .nScoreNova {
            .nova {
              width: min-content;
            }
            .nutrifacts {
              flex: 1 1;
              width: min-content;
              .nutrition {
                width: min-content;
                flex-flow: column;
              }
            }
          }
        }
      }
      .paging {
        li {
          padding: 1rem;
        }
      }
    }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .search {
    padding: 10rem 0 5rem;
    form {
      .inputBg {
        width: 45%;
      }
      .advanced {
        width: 60%;
        .moreCriterias {
          .CriteriasNutriments {
            .inputBg {
              width: 65%;
            }
          }
        }
      }
    }
  }
  .container {
    .modalcont {
      .nScoreNova {
        .nova {
          flex: 0;
          padding-right: 2rem;
        }
        .nutrifacts {
          padding: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) {
  .page {
    padding: 20rem 20rem 7rem;
  }
  .navigation {
    li {
      padding: 2.5rem;
    }
  }
  .search {
    form {
      .inputBg {
        width: 45%;
      }
      .advanced {
        width: 45%;
      }
    }
  }
  .container {
    .modalcont {
      .modal1 {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        h1 {
          flex: 0;
        }
        & h2 {
          flex: 0;
          margin: 12rem 0rem 0rem -12rem;
        }
        .modalInfo {
          flex: 3;
          margin-left: 5rem;
          h2 {
            margin: 0;
          }
          div {
            flex: 1 0;
            padding-right: 1rem;
            ul {
              margin-bottom: 5rem;
            }
          }
          picture {
            margin: 0rem auto;
            text-align: center;
            flex: 1;
          }
        }
        .nScoreNova {
          flex: 2;
          h2 {
            margin: 0;
          }
          .nutrifacts {
            width: min-content;
            padding: 0;
            .nutrition {
              flex-flow: column wrap;
            }
          }
        }
      }
    }
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/montserrat/Montserrat-Regular.otf")
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/montserrat/Montserrat-Medium.otf")
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/montserrat/Montserrat-SemiBold.otf")
}