@import './scss/navigation.scss';
@import './scss/results.scss';
@import './scss/modal.scss';
@import './scss/criterias.scss';
@import './scss/moreCriterias.scss';

* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  border: none;
  &:focus {
    outline: none;
  }
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
.page {
  padding: 10rem;
  background-color: #f6eedf;
  height: 100vh;
  overflow-y: scroll;
}
.dark {
  background-color: #a7a6a2 !important;
}
.naviItem {
  color: #f6eedf;
  font-family: Montserrat-Bold;
  &:hover {
    color: #f6eedf;
  }
}
.red {
  color: red;
}
h2 {
    color: #f57b51;
    font-family: Montserrat-SemiBold;
    margin: 4rem 0 1rem;
    text-transform: uppercase;
}
h3 {
  color: #d63447;
    line-height: 1.3;
    font-family: Montserrat-Regular;
    padding: 1rem 0;
}
.toggle {
  position: relative;
  width: 4rem;
  height: 2rem;
  -webkit-appearance: none;
  border-radius: 50px;
  border: 2px solid #d1cebd;
  &:before {
    top: 0%;
    left: 0;
    position: absolute;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.5px solid #d1cebd;
  }
  &:checked {
    position: relative;
    border: 2px solid #d1cebd;
    &:before {
      transform: translateX(130%);
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: #f6eedf;
      border-radius: 50%;
    }
  }
}
.darkModal {
  background-color: #807e7b;
}




li {
  cursor: pointer;
  list-style: none;
}

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 55px;
//   height: 25px;
// }

// .switch input { 
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 21px;
//   width: 21px;
//   left: 4px;
//   bottom: 2px;
//   background-color: white;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// input:checked + .slider {
//   background-color: #2196F3;
// }

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

// input:checked + .slider:before {
//   -webkit-transform: translateX(26px);
//   -ms-transform: translateX(26px);
//   transform: translateX(26px);
// }

// /* Rounded sliders */
// .slider.round {
//   border-radius: 30px;
// }

// .slider.round:before {
//   border-radius: 50%;
// }
// .button {
//   position: absolute;
//   top: 50%;
//   background-color: transparent;
//   border-radius: 30px;
//   font-family: monospace;
//   font-size: 20px;
//   font-weight: 600;
//   color: #3f00ffad;
//   z-index: 1000;
// }



// .prev {
//   left: 1%;
// }
// .next {
//   right: 1%;
// }




.check {
  align-self: center;
}






label {
  font-family: Montserrat-SemiBold;
    // padding: 0 1rem;
    vertical-align: top;
    color: #d1cebd;
    // p{
    //   font-family: Montserrat-SemiBold;
    //   display: inline;
    //   padding: 1rem;
    // }
}

.active {
  background-color: #f57b51;
  color: #f6eedf;
  font-family: Montserrat-Bold;
}













@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/montserrat/Montserrat-Bold.otf");
}
// @font-face {
//   font-family: Montserrat-Italic;
//   src: url("./fonts/montserrat/Montserrat-Italic.otf")
// }
@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/montserrat/Montserrat-Regular.otf")
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/montserrat/Montserrat-Medium.otf")
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/montserrat/Montserrat-SemiBold.otf")
}