.CriteriasNutriments {
  .select-margin {
    margin: 2rem 0;
  }
  .inputBg {
    align-self: flex-start;
    height: 24px;
    border-radius: 5px;
    width: 65%;
    input[type=search] {
    padding: 0.5rem;
    border-radius: 5px;
    }
  form {
    height: 100%;
      label {
        width: 100%;
        padding: 0rem;
        height: 100%;
        select {
          height: 100%;
          width: 100%;
          border: none;
          box-shadow: 0 0 2px #d1cebd;
          background-color: rgba(246, 238, 223, 0.7);
          font-family: Montserrat-SemiBold;
          color: #000000a6; 
          &:hover, &:focus {
            box-shadow: 3px 3px 9px #d1cebd;
            cursor: pointer;
          }
        }
      }
  }
}
  .flex {
    width: 65%;
    .inputBg {
      flex: 1;
      &:first-child {
        margin-right: 2rem;
      }
    }
  }

    .toggle-span{
    font-size: 13px;
  }
  .nutriments {
    margin-top: 7rem;
  }

}